# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.pytest_cache
.mypy_cache/

build/
dist/
*.egg-info/

.idea
/venv
/.env
/.coverage

# virtualenv:
.Python
bin/
include/
lib/

# direnv:
.envrc
